*{
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

#paper{
	margin-left: 1%;
	box-sizing: padding-box;
	background: white;
	display: block;
	cursor: crosshair;
}

#picker{
	display: block;
	cursor: pointer;
}

